.card {
  text-align: center;
  position: relative;
  width: 200px;
  height: 200px;
}

.card .total-numbers {
  margin-top: 20px;
}

.card .new-cases {
  margin-top: 20px;
  font-size: 1.3rem;
}

.card .color-bar, .card .total-cases, .card .recovered, .card .total-death {
  position: absolute;
  height: 7px;
  width: 100%;
  background-color: #d49c08;
  bottom: 0;
}

.card .total-cases {
  background-color: #d49c08;
}

.card .recovered {
  background-color: #2dbd02;
}

.card .total-death {
  background-color: #cc4239;
}
