.card {
    text-align: center;
    position: relative;
    width: 200px;
    height: 200px;
    .total-numbers {
        margin-top: 20px;
    }
    .new-cases {
        margin-top: 20px;
        font-size: 1.3rem;
    }
    .color-bar {
        position: absolute;
        height: 7px;
        width: 100%;
        background-color: blue;
        bottom: 0;
    }
}
