.card {
    text-align: center;
    position: relative;
    width: 200px;
    height: 200px;
    .total-numbers {
        margin-top: 20px;
    }
    .new-cases {
        margin-top: 20px;
        font-size: 1.3rem;
    }
    .color-bar {
        position: absolute;
        height: 7px;
        width: 100%;
        background-color: #d49c08;
        bottom: 0;
    }

    .total-cases {
        @extend .color-bar;
        background-color: #d49c08;
    }
    .recovered {
        @extend .color-bar;
        background-color: #2dbd02;
    }
    .total-death {
        @extend .color-bar;
        background-color: #cc4239;
    }
}
